@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
@import "tailwindcss";
@import "../public/fonts.css";

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: "Alumni Sans", sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e0f3ec;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

